<div id="<%= dom_id(post) %>" class="bg-white shadow-md rounded-lg p-6 mb-6">
  <table class="w-full text-left border-collapse border border-gray-300">
    <thead>
      <tr class="bg-gray-100 border-b border-gray-300">
        <th class="p-4 text-gray-800">Title</th>
        <th class="p-4 text-gray-800">Content</th>
        <th class="p-4 text-gray-800">User</th>
        <th class="p-4 text-gray-800">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-300">
        <td class="p-4 text-gray-800"><%= post.title %></td>
        <td class="p-4 text-gray-800"><%= post.content %></td>
        <td class="p-4 text-gray-800"><%= post.user.email %></td>
        <td class="p-4 text-gray-800">
          <%= link_to "Show", post, class: "text-blue-500 hover:text-blue-700 font-medium" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
